
<html>
<head>
    <title>文件下载列表</title>
</head>
<body>
    #foreach($one in $fileList)
    <form action="${request.contextPath}/x3i9ze7w/user/download" method="post">
        <input type="hidden" value="$!{one.getName()}" name="name">
        <input type="hidden" value="$!{one.getPath()}" name="path">
        $!{one.getName()}
        <input type="submit" value="下载"/>
    </form>
    #end
</body>
</html>
